/**
 * Template: Landing page
 */
@import 'utils/all';

html,
body {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.lp2 {
  height: 100%;

  &-cover {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    max-height: 100vh;
    padding: 100px 0;
    background-color: #fff;

    @media screen and (max-height: 799px) {
      padding-top: 110px;
    }
    @media screen and (max-height: 549px) {
      padding-top: 63px;
      padding-bottom: 75px;

      overflow-y: auto;
      align-items: flex-start;

      background-image: url('../images/templates/lp2/img-lpCover-bg.svg');
      background-repeat: no-repeat;
      background-position: top right;
      background-position-x: 100%;
    }

    &-bg {
      z-index: -0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('../images/templates/lp2/img-lpCover-bg.svg');
      background-repeat: no-repeat;
      background-position: top right;

      @media screen and (max-height: 549px) {
        display: none;
      }
      
      @media screen and (max-width: 1919px) {
        background-position-x: 110%;
      }
      @media screen and (max-width: 1599px) {
        background-position-x: 120%;
      }
      @media screen and (max-width: 1535px) {
        background-position-x: 140%;
      }
      @media screen and (max-width: 1439px) {
        background-position-x: 160%;
      }
      @media screen and (max-width: 1279px) {
        background-position-x: 300%;
      }
    }

    &-container {
      z-index: 2;
      position: relative;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }

    &-content {
      display: flex;
      align-items: center;

      &-left,
      &-right {
        width: 50%;
      }

      &-left {
        display: flex;
        flex-direction: column;
        padding-left: 75px;

        @media screen and (max-height: 1023px) {
          padding-left: 40px;
        }
        @media screen and (max-height: 799px) {
          padding-left: 15px;
        }
      }

      &-right {
        display: flex;
        align-items: center;
      }
    }

    &-logo {
      position: absolute;
      top: 75px;
      left: 75px;
      display: flex;

      @media screen and (max-height: 1023px) {
        top: 65px;
        left: 40px;
      }
      @media screen and (max-height: 899px) {
        top: 50px;
      }
      @media screen and (max-height: 799px) {
        top: 15px;
        left: 15px;
      }

      a {
        outline: none;
        display: flex;
      }
    }

    &-title {
      margin: 0;
      padding-bottom: 34px;
      color: #000000;
      font-size: 64px;
      font-weight: 900;
      letter-spacing: 0.43px;
      line-height: 1.25;

      @media screen and (max-height: 1023px) {
        padding-bottom: 24px;
        font-size: 52px;
      }
      @media screen and (max-height: 799px) {
        font-size: 42px;
      }
      @media screen and (max-height: 599px) {
        padding-bottom: 15px;
      }

      br {
        display: none;
      }
    }

    &-subtitle {
      margin: 0;
      padding-bottom: 58px;
      color: #000000;
      font-size: 34px;
      font-weight: 500;
      line-height: 1.4;

      @media screen and (max-height: 1023px) {
        padding-bottom: 37px;
        font-size: 28px;
      }
      @media screen and (max-height: 799px) {
        font-size: 24px;
      }
      @media screen and (max-height: 599px) {
        padding-bottom: 20px;
      }
    }

    &-form {
      width: 100%;
      max-width: 588px;
      padding-bottom: 58px;

      @media screen and (max-height: 1023px) {
        padding-bottom: 37px;
      }
      @media screen and (max-height: 599px) {
        padding-bottom: 20px;
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;

      li {
        display: flex;
        align-items: center;
        padding-bottom: 22px;

        @media screen and (max-height: 799px) {
          padding-bottom: 15px;
        }

        &:last-of-type {
          padding-bottom: 0;
        }

        > div {
          &:nth-of-type(1) {
            width: 38px;
          }

          &:nth-of-type(2) {
            flex: 1;
            min-width: 1px;
            max-width: 100%;
          }
        }

        p {
          position: relative;
          top: 2px;
          margin: 0;
          color: #000000;
          font-size: 30px;
          line-height: 1;

          @media screen and (max-height: 1023px) {
            font-size: 24px;
          }
          @media screen and (max-height: 799px) {
            font-size: 18px;
          }
        }

        span {
          position: relative;
          display: flex;
          height: 29px;
          width: 29px;
          border-radius: 100%;
          border: 2px solid #FF4070;

          &:after {
            content: '';
            position: absolute;
            top: 13px;
            left: 6px;
            height: 13px;
            width: 7px;
            border-right: 2px solid #FF4070;
            border-top: 2px solid #FF4070;
            transform-origin: left top;
            transform: scaleX(-1) rotate(135deg);
          }
        }
      }
    }

    &-video {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      left: -50px;
      top: 30px;
      width: 47.6%;
      max-width: 768px;
      min-width: 45.7vw;
      font-size: 10px;

      @media screen and (max-height: 1023px) {
        left: -30px;
      }
      @media screen and (max-height: 799px) {
        left: 30px;
      }
      @media screen and (max-width: 1365px) and (max-height: 1024px) {
        left: 30px;
      }

      .lp2-cover-video-mobile {
        display: none;
      }

      @media (min-width: 1681px) {
        min-width: 768px;
      }

      @media (max-width: 1440px) {
        // min-width: 546px;
      }

      @media (max-width: 1199px) {
        // min-width: 480px;
        font-size: 9px;
      }

      @media (max-width: 991px) {
        min-width: 100%;
        width: 100%;
        max-width: 100%;
      }

      @media (max-width: 767px) {
        font-size: 6.5px;
      }

      @media (max-width: 374px) {
        font-size: 5px;
      }

      .lp2-cover-video-popup-link {
        line-height: normal;
        font-size: 15px;
        letter-spacing: 0.5625px;
        color: $color-black;
        font-weight: 500;
        margin-left: -94px;
        z-index: 1;

        &:before {
          content: '';
          width: 24px;
          height: 24px;
          display: inline-block;
          background-image: url('../images/templates/lp1/play.svg');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          margin-bottom: -6px;
          margin-right: 10px;
        }

        @media (max-width: 1199px) {
          margin-left: -76px;
        }

        @media (max-width: 991px) {
          margin-left: -10px;
        }
        @media (max-width: 767px) {
          margin-left: 0;
        }
      }

      .lp2-cover-video-wrapper {
        margin-bottom: -40px;
        position: relative;
        width: 76.8em;

        img {
          width: 100%;
          vertical-align: middle;
        }

        video {
          vertical-align: middle;
          font-size: inherit;
          position: absolute;
          width: 50.0em;
          height: 35.1em;
          left: 8.7em;
          top: 3.4em;
        }

        @media (max-width: 1440px) {
          margin-bottom: -20px;
          width: 60.8em;

          video {
            width: 38.5em;
            height: 27em;
            top: 3em;
            left: 7.3em;
          }
        }

        @media (max-width: 991px) {
          margin-right: -70px;
          margin-bottom: 0;
        }

        @media (max-width: 767px) {
          margin-right: -50px;
          margin-bottom: 11px;

          video {
            max-width: 338px;
          }
        }

        @media (max-width: 374px) {
          margin-right: -39px;
        }
      }
    }
  }
}