/**
 * Template: Landing page
 */
@import 'utils/all';

@function line-height-convert($unit, $fontSize) {
  @return ($unit / $fontSize);
}

html,
body {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.lp2 {
  height: 100%;

  &-bg {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-image: url('../images/templates/lp2/img-lpCover-bg.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position-x: calc(100% + 25px);
      background-position-y: -20px;
      @media screen and (max-width: 1600px) {
        background-position-x: calc(100% + 90px);
      }
      @media screen and (max-width: 1366px) {
        background-position-y: -12px;
        background-position-x: calc(100% + 25px);
      }
      @media screen and (max-width: 1280px) {
        background-position-x: calc(100% + 155px);
      }
      @media screen and (max-width: 991px) {
        background-position-x: calc(100% + 500px);
      }
      @media screen and (max-height: 589px) {
        background-position-x: 100%;
      }
      @media screen and (max-width: 767px) {
        background-image: none;
      }
    }
  }

  &-cover {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    background-color: #fff;
    @media screen and (min-width: 991px) {
      max-height: 100vh;
    }
    @media screen and (max-height: 630px) {
      overflow-y: auto;
      align-items: flex-start;
      max-height: 100%;
    }
    @media screen and (max-width: 991px) {
      overflow-y: auto;
      align-items: flex-start;
      max-height: 100%;
    }
    @media screen and (max-width: 767px) and (min-height: 570px) {
      display: flex;
      align-items: center;
    }
    @media screen and (max-width: 767px) {
      background-image: url('../images/templates/lp2/img-lpCover-bg-mobile.svg');
      background-repeat: no-repeat;
      background-size: auto;
      background-position-y: calc(100% + 100px);
      background-position-x: right;
    }

    &-container {
      z-index: 2;
      position: relative;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }

    &-content {
      display: flex;
      align-items: center;
      padding: 100px 15px 100px 75px;
      @media screen and (max-width: 1440px) and (max-height: 900px) {
        padding-left: 68px;
      }
      @media screen and (max-width: 1366px) and (max-height: 800px) {
        padding: 90px 15px 90px 48px;
      }
      @media screen and (max-width: 1440px) and (min-height: 900px) {
        padding-left: 68px;
      }
      @media screen and (max-width: 1280px) and (min-height: 900px) {
        padding-left: 48px;
      }
      @media screen and (max-width: 991px) {
        flex-wrap: wrap;
        padding-right: 48px;
      }
      @media screen and (max-width: 575px) {
        overflow: hidden;
        padding: 75px 15px 15px 15px;
      }
      @media screen and (max-height: 630px) {
        padding-top: 75px;
        padding-bottom: 75px;
      }


      &-left,
      &-right {
        width: 50%;
        @media screen and (max-width: 991px) {
          width: 100%;
        }
      }

      &-left {
        display: flex;
        flex-direction: column;
        padding-right: 5px;
        @media screen and (max-width: 991px) {
          padding-right: 0;
        }
      }

      &-right {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        @media screen and (max-width: 991px) {
          justify-content: center;
        }
      }
    }

    &-logo {
      position: absolute;
      top: 75px;
      left: 75px;
      display: flex;
      @media screen and (max-width: 1440px) and (max-height: 900px) {
        top: 68px;
        left: 68px;
      }
      @media screen and (max-width: 1366px) and (max-height: 800px) {
        top: 27px;
        left: 48px;
      }
      @media screen and (max-width: 1440px) and (min-height: 900px) {
        left: 68px;
      }
      @media screen and (max-width: 1280px) and (min-height: 900px) {
        left: 48px;
      }
      @media screen and (min-width: 1441px) and (max-height: 899px) {
        top: 68px;
      }
      @media screen and (max-height: 799px) {
        top: 24px;
      }
      @media screen and (max-height: 649px) {
        top: 15px;
      }
      @media screen and (max-width: 991px) {
        top: 30px;
      }
      @media screen and (max-width: 575px) {
        top: 15px;
        left: 15px;
      }

      a {
        outline: none;
        display: flex;
      }
    }

    &-title {
      margin: 0;
      padding-bottom: 34px;
      color: #000000;
      font-size: 64px;
      font-weight: 900;
      letter-spacing: 0.43px;
      line-height: line-height-convert(88,64);
      @media screen and (max-width: 1600px) and (min-height: 900px) {
        padding-bottom: 24px;
        font-size: 52px;
        line-height: line-height-convert(70,52);
      }
      @media screen and (max-width: 1366px) and (min-height: 900px) {
        font-size: 42px;
      }
      @media screen and (max-height: 999px) {
        padding-bottom: 24px;
        font-size: 52px;
        line-height: line-height-convert(70,52);
      }
      @media screen and (max-height: 767px) {
        font-size: 42px;
        line-height: line-height-convert(60,42);
      }
      @media screen and (max-width: 1200px) and (max-height: 799px) {
        font-size: 42px;
        line-height: line-height-convert(60,42);
      }
      @media screen and (max-width: 991px) and (max-height: 1024px) {
        padding-bottom: 24px;
        font-size: 42px;
      }
      @media screen and (max-width: 767px) and (min-height: 0px) {
        padding-bottom: 11px;
        font-size: 28px;
        line-height: line-height-convert(36,28);
      }
      @media screen and (max-width: 991px) {
        text-align: center;
      }
    }

    &-subtitle {
      margin: 0;
      padding-bottom: 58px;
      color: #000000;
      font-size: 34px;
      font-weight: 500;
      line-height: line-height-convert(54,34);
      @media screen and (max-width: 1440px) and (max-height: 900px) {
        padding-bottom: 37px;
        font-size: 28px;
        line-height: line-height-convert(43,28);
      }
      @media screen and (max-width: 1600px) and (min-height: 900px) {
        padding-bottom: 37px;
        font-size: 28px;
        line-height: line-height-convert(43,28);
      }
      @media screen and (max-width: 1366px) and (min-height: 900px) {
        font-size: 24px;
      }
      @media screen and (max-height: 999px) {
        padding-bottom: 37px;
        font-size: 28px;
        line-height: line-height-convert(43,28);
      }
      @media screen and (max-height: 767px) {
        font-size: 24px;
      }
      @media screen and (max-width: 1200px) and (max-height: 799px) {
        font-size: 24px;
      }
      @media screen and (max-width: 991px) and (max-height: 1024px) {
        padding-bottom: 37px;
        font-size: 28px;
        line-height: line-height-convert(43,28);
      }
      @media screen and (max-width: 767px) and (min-height: 0px) {
        padding-bottom: 16px;
        font-size: 18px;
        line-height: line-height-convert(27,18);

        br {
          display: none;
        }
      }
      @media screen and (max-width: 991px) {
        text-align: center;
      }
    }

    &-form {
      width: 100%;
      max-width: 588px;
      padding-bottom: 58px;
      @media screen and (max-width: 1600px) and (min-height: 900px) {
        padding-bottom: 37px;
      }
      @media screen and (max-height: 999px) {
        padding-bottom: 37px;
      }
      @media screen and (max-width: 991px) {
        max-width: 100%;

        button {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      }
      @media screen and (max-width: 991px) and (max-height: 1024px) {
        padding-bottom: 20px;
      }
      @media screen and (max-width: 767px) and (min-height: 0px) {
        padding-bottom: 16px;
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;

        button {
          width: 100%;
          padding-top: 12px;
          padding-bottom: 12px;
          font-size: 17px;
        }
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      @media screen and (max-width: 991px) {
        margin: 0 auto;
      }
      @media screen and (max-width: 767px) {
        display: none;
      }

      li {
        display: flex;
        align-items: center;
        padding-bottom: 22px;
        @media screen and (max-height: 767px) {
          padding-bottom: 15px;
        }
        @media screen and (max-width: 1200px) and (max-height: 799px) {
          padding-bottom: 15px;
        }
        @media screen and (max-width: 991px) and (max-height: 1024px) {
          padding-bottom: 15px;
        }

        &:last-of-type {
          padding-bottom: 0;
        }

        > div {
          &:nth-of-type(1) {
            width: 38px;
          }

          &:nth-of-type(2) {
            flex: 1;
            min-width: 1px;
            max-width: 100%;
          }
        }

        p {
          position: relative;
          top: 2px;
          margin: 0;
          color: #000000;
          font-size: 30px;
          line-height: 1;
          @media screen and (max-width: 1600px) and (min-height: 900px) {
            font-size: 24px;
          }
          @media screen and (max-height: 999px) {
            font-size: 24px;
          }
          @media screen and (max-width: 1200px) and (max-height: 799px) {
            font-size: 22px;
          }
          @media screen and (max-width: 991px) and (max-height: 1024px) {
            font-size: 20px;
          }
        }

        span {
          position: relative;
          display: flex;
          height: 29px;
          width: 29px;
          border-radius: 100%;
          border: 2px solid #FF4070;

          &:after {
            content: '';
            position: absolute;
            top: 13px;
            left: 6px;
            height: 13px;
            width: 7px;
            border-right: 2px solid #FF4070;
            border-top: 2px solid #FF4070;
            transform-origin: left top;
            transform: scaleX(-1) rotate(135deg);
          }
        }
      }
    }

    &-video {
      display: flex;
      padding-top: 50px;
      @media screen and (max-width: 991px) {
        padding-top: 25px;
      }
      @media screen and (max-height: 589px) {
        padding-top: 25px;
      }
      @media screen and (max-width: 575px) {
        padding-top: 15px;
      }

      &--mobile {
        display: none;
        position: absolute;
        top: 16px;
        left: 52px;
        width: 346px;
        height: 206px;
        @media screen and (max-width: 767px) and (min-height: 0px){
          display: block;
        }
        @media screen and (max-width: 575px) {
          top: 13px;
          left: 46px;
          width: 307px;
          height: 185px;
        }
        @media screen and (max-width: 424px) {
          top: 9px;
          left: 33px;
          width: 224px;
          height: 135px;
        }
      }

      &-mobile {
        display: none;
      }

      &-wrapper {
        position: relative;
        top: 35px;
        left: -32px;
        @media screen and (max-width: 1919px) {
          width: 750px;
        }
        @media screen and (max-width: 1599px) {
          width: 690px;
        }
        @media screen and (max-width: 1439px) {
          top: 12px;
          left: -17px;
          width: 650px;
        }
        @media screen and (max-width: 1365px) {
          top: 28px;
          left: -21px;
          width: 620px;
        }
        @media screen and (max-width: 1199px) {
          top: 0;
          left: 0;
          width: 450px;
        }
        @media screen and (max-width: 575px) {
          width: 400px;
        }
        @media screen and (max-width: 424px) {
          width: 290px;
        }

        .lp2-cover-video--pc {
          display: block;
          max-width: 100%;
          height: auto;
        }
      }

      &-cover {
        z-index: -1;
        overflow: hidden;
        position: absolute;
        top: 25px;
        left: 86px;
        width: 680px;
        height: 400px;
        @media screen and (max-width: 1919px) {
          width: 580px;
          height: 350px;
        }
        @media screen and (max-width: 1599px) {
          top: 23px;
          left: 78px;
          width: 530px;
          height: 320px;
        }
        @media screen and (max-width: 1439px) {
          top: 18px;
          left: 63px;
          width: 515px;
          height: 310px;
        }
        @media screen and (max-width: 1365px) {
          width: 490px;
          height: 290px;
        }
        @media screen and (max-width: 1199px) {
          top: 16px;
          left: 52px;
          width: 346px;
          height: 206px;
        }
        @media screen and (max-width: 767px) and (min-height: 0px){
          display: none;
        }
      }

      video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;

        @media screen and (max-width: 767px) and (min-height: 0px){
          display: none;
        }
      }
    }
  }
}