@font-face {
    font-family: 'Wes FY';
    src: url('../fonts/WesFY-Black.eot');
    src: local('Wes FY Black'), local('WesFY-Black'),
        url('../fonts/WesFY-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/WesFY-Black.woff2') format('woff2'),
        url('../fonts/WesFY-Black.woff') format('woff'),
        url('../fonts/WesFY-Black.ttf') format('truetype'),
        url('../fonts/WesFY-Black.svg#WesFY-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Wes FY';
    src: url('../fonts/WesFY-Thin.eot');
    src: local('Wes FY Thin'), local('WesFY-Thin'),
        url('../fonts/WesFY-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/WesFY-Thin.woff2') format('woff2'),
        url('../fonts/WesFY-Thin.woff') format('woff'),
        url('../fonts/WesFY-Thin.ttf') format('truetype'),
        url('../fonts/WesFY-Thin.svg#WesFY-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Wes FY';
    src: url('../fonts/WesFY-Regular.eot');
    src: local('Wes FY Regular'), local('WesFY-Regular'),
        url('../fonts/WesFY-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/WesFY-Regular.woff2') format('woff2'),
        url('../fonts/WesFY-Regular.woff') format('woff'),
        url('../fonts/WesFY-Regular.ttf') format('truetype'),
        url('../fonts/WesFY-Regular.svg#WesFY-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Wes FY';
    src: url('../fonts/WesFY-Medium.eot');
    src: local('Wes FY Medium'), local('WesFY-Medium'),
        url('../fonts/WesFY-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/WesFY-Medium.woff2') format('woff2'),
        url('../fonts/WesFY-Medium.woff') format('woff'),
        url('../fonts/WesFY-Medium.ttf') format('truetype'),
        url('../fonts/WesFY-Medium.svg#WesFY-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Wes FY';
    src: url('../fonts/WesFY-Bold.eot');
    src: local('Wes FY Bold'), local('WesFY-Bold'),
        url('../fonts/WesFY-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/WesFY-Bold.woff2') format('woff2'),
        url('../fonts/WesFY-Bold.woff') format('woff'),
        url('../fonts/WesFY-Bold.ttf') format('truetype'),
        url('../fonts/WesFY-Bold.svg#WesFY-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}